body {
    margin: 0;
    padding: 0;
}

.hrWid {
    stroke-width: 1px;
    stroke: #E5DFDC;
}

.container {
    width: 100%;
    padding-top: 31px;
    padding: 20px;



}

@media (min-width: 320px) {
    .Search_btn {
        width: 88px;
        height: 38px;
        position: absolute;
        margin-left: 56%;
        margin-top: 5px;

    }


}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
        padding: 30px;


    }

    .Choose_width {
        width: 557px;
    }

    .cardWidth {
        width: 270px;
        gap: 30px;
    }

    .Search_btn {
        width: 128px;
        height: 48px;
        position: absolute;
        right: 65px;
        margin-top: 5px;
    }
}

/* ===================================== */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 30px;



    }

    .Choose_width {
        width: 557px;
    }

    .cardWidth {
        width: 270px;
        gap: 30px;
    }

    .Search_btn {
        width: 128px;
        height: 48px;
        position: absolute;
        right: 130px;
        margin-top: 5px;
    }

    .CardPadding {
        padding: 0px 91px 0px 91px;
    }
}

/* @media (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 30px;
    }
} */

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .Search_btn {
        width: 128px;
        height: 48px;
        position: absolute;
        right: 190px;
        margin-top: 5px;
    }
}

/* ================================================== */

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .All_cards {
        padding: 0px 0px 0px 0px;
        margin-top: 50px;
    }

    .Choose_width {
        width: 770px;
    }

    .Search_btn {
        width: 128px;
        height: 48px;
        position: absolute;
        right: 318px;
        margin-top: 5px;
    }

    .items {
        width: 330px;
        position: absolute;
        background-color: whitesmoke;

        margin-top: 10px;
        right: 450px;
        top: 20%;
    }
}


/* ================1440====================== */

@media (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .All_cards {
        padding: 0px 0px 0px 0px;
        margin-top: 80px;
    }

    .Search_btn {
        width: 128px;
        height: 48px;
        position: absolute;
        right: 398px;
        margin-top: 5px;
    }

    .cardWidth {
        width: 270px;
        gap: 30px;
    }
}

.items {
    width: 330px;
    position: absolute;
    background-color: whitesmoke;

    margin-top: 10px;
    right: 450px;
    top: 20%;
}



@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}


@media screen and (min-width: 1680px) {
    .Search_btn {
        width: 128px;
        height: 48px;
        position: absolute;
        right: 520px;
        margin-top: 5px;

    }

}


@media screen and (min-width: 1920px) {
    .container {
        width: 1920px;
    }

    .CardWidth {
        width: 302px;

    }

    .Search_btn {
        width: 128px;
        height: 48px;
        position: absolute;
        right: 640px;
        margin-top: 5px;

    }

    .items {
        width: 330px;
        position: absolute;
        background-color: whitesmoke;

        margin-top: 10px;
        right: 450px;
        top: 15%;
    }

}









.BG_color {
    background-color: #fcf7f4;

}


.Bold {
    font-family: 'Plus Jakarta Sans';
}

/* 600 Font */
.SemiBold {
    font-family: 'Plus Jakarta Sans';
}

.Medium {
    font-family: 'Plus Jakarta Sans';

}

.Normal {
    font-family: 'Plus Jakarta Sans';
}

.XpeedText {
    color: var(--text-color, #1A0702);
}

.inputBorder {
    border-radius: 4px;
    border: 1px solid #1A0702;
    background: #FFF;
}

input[type="checkbox"] {}

input[type="checkbox"]::after {
    background-color: #60599E;



}

/* ======================================== */
.items {
    width: 330px;
    position: absolute;
    background-color: whitesmoke;

    margin-top: 10px;
    right: 32%;
    top: 20%;
}



.SignWithGoogle {
    border-radius: 4px;
    border: 1px solid #60599E;
}


.CardShadow:hover {

    margin-top: -6px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.10);






}


.custom-modal {
    background-image: url(../../assets//Images/popUp.png);
    /* Background color with opacity */
    border-radius: 10px;
    overflow-y: hidden;












}



.Modal_Container {

    background-position: center;
    background-repeat: no-repeat;


}




/* Media Queries  */


/* Styles for tablets */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .items {
        width: 330px;
        position: absolute;
        background-color: whitesmoke;

        margin-top: 10px;
        right: 450px;
        top: 10%;
    }



}